USE [master]
GO
/****** Objeto: Database [GSSGSI1] Fecha de script: 08/06/2026 18:28:32 ******/
CREATE DATABASE [GSSGSI1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GSSGSI1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\GSSGSI1.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GSSGSI1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\GSSGSI1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GSSGSI1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GSSGSI1]
GO
/****** Objeto: Schema [Core] Fecha de script: 08/06/2026 18:28:32 ******/
CREATE SCHEMA [Core]
GO
/****** Objeto: Schema [ITAM] Fecha de script: 08/06/2026 18:28:32 ******/
CREATE SCHEMA [ITAM]
GO
/****** Objeto: Schema [Seguridad] Fecha de script: 08/06/2026 18:28:32 ******/
CREATE SCHEMA [Seguridad]
GO
/****** Objeto: Schema [SGSI] Fecha de script: 08/06/2026 18:28:32 ******/
CREATE SCHEMA [SGSI]
GO
/****** Objeto: Table [Core].[Ubicaciones] Fecha de script: 08/06/2026 18:28:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Core].[Ubicaciones](
	[UbicacionID] [int] IDENTITY(1,1) NOT NULL,
	[CodigoSede] [varchar](10) NOT NULL,
	[NombreNomenclatura] [nvarchar](100) NOT NULL,
	[Direccion] [nvarchar](255) NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UbicacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [ITAM].[CategoriasActivo] Fecha de script: 08/06/2026 18:28:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ITAM].[CategoriasActivo](
	[CategoriaID] [int] IDENTITY(1,1) NOT NULL,
	[CodigoCategoria] [varchar](10) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[EsFisico] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [ITAM].[ActivosBase] Fecha de script: 08/06/2026 18:28:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ITAM].[ActivosBase](
	[ActivoID] [uniqueidentifier] NOT NULL,
	[EtiquetaActivo] [varchar](50) NOT NULL,
	[CategoriaID] [int] NOT NULL,
	[UbicacionID] [int] NOT NULL,
	[Marca] [nvarchar](100) NULL,
	[Modelo] [nvarchar](100) NULL,
	[NumeroSerie] [varchar](100) NULL,
	[ProveedorID] [int] NULL,
	[FechaAdquisicion] [date] NULL,
	[Costo] [decimal](18, 2) NULL,
	[EstadoOperativo] [varchar](50) NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ActivoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [ITAM].[EspecificacionesHardware] Fecha de script: 08/06/2026 18:28:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ITAM].[EspecificacionesHardware](
	[EspecificacionID] [int] IDENTITY(1,1) NOT NULL,
	[ActivoID] [uniqueidentifier] NOT NULL,
	[Procesador] [nvarchar](100) NULL,
	[MemoriaRAM] [varchar](50) NULL,
	[Almacenamiento1] [nvarchar](100) NULL,
	[Almacenamiento2] [nvarchar](100) NULL,
	[TarjetaGrafica] [nvarchar](100) NULL,
	[SistemaOperativo] [nvarchar](100) NULL,
	[DireccionMAC] [varchar](17) NULL,
	[DireccionIP_Estatica] [varchar](15) NULL,
	[ResolucionPantalla] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[EspecificacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: View [ITAM].[vw_InventarioEquipos] Fecha de script: 08/06/2026 18:28:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [ITAM].[vw_InventarioEquipos] AS
SELECT 
    A.EtiquetaActivo,
    ISNULL(C.Nombre, 'Sin Categoría') AS Categoria,
    A.Marca,
    A.Modelo,
    A.NumeroSerie,
    H.Procesador,
    H.MemoriaRAM,
    H.Almacenamiento1 AS DiscoPrincipal,
    H.SistemaOperativo,
    ISNULL(U.NombreNomenclatura, 'Sin Ubicación') AS Ubicacion,
    A.EstadoOperativo
FROM ITAM.ActivosBase A
LEFT JOIN ITAM.EspecificacionesHardware H ON A.ActivoID = H.ActivoID
INNER JOIN ITAM.CategoriasActivo C ON A.CategoriaID = C.CategoriaID
LEFT JOIN Core.Ubicaciones U ON A.UbicacionID = U.UbicacionID
WHERE C.CodigoCategoria IN ('PC', 'LT', 'CL'); 
GO
/****** Objeto: Table [Core].[Colaboradores] Fecha de script: 08/06/2026 18:28:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Core].[Colaboradores](
	[ColaboradorID] [int] IDENTITY(1,1) NOT NULL,
	[DocumentoIdentidad] [varchar](50) MASKED WITH (FUNCTION = 'partial(2, "XXXXX", 2)') NOT NULL,
	[Nombres] [nvarchar](100) NOT NULL,
	[Apellidos] [nvarchar](100) NOT NULL,
	[CorreoCorporativo] [nvarchar](150) MASKED WITH (FUNCTION = 'email()') NOT NULL,
	[DepartamentoID] [int] NOT NULL,
	[UbicacionID] [int] NOT NULL,
	[FechaIngreso] [date] NOT NULL,
	[Estado] [bit] NULL,
	[PerfilID] [int] NULL,
	[UsuarioApp] [nvarchar](50) NULL,
	[PasswordHash] [varbinary](max) NULL,
	[Foto] [varbinary](max) NULL,
	[Cargo] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ColaboradorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [Core].[Departamentos] Fecha de script: 08/06/2026 18:28:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Core].[Departamentos](
	[DepartamentoID] [int] IDENTITY(1,1) NOT NULL,
	[CodigoDpto] [varchar](10) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartamentoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [Core].[Proveedores] Fecha de script: 08/06/2026 18:28:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Core].[Proveedores](
	[ProveedorID] [int] IDENTITY(1,1) NOT NULL,
	[NIT] [varchar](50) NOT NULL,
	[RazonSocial] [nvarchar](150) NOT NULL,
	[PrefijoProveedor] [varchar](5) NULL,
	[Contacto] [nvarchar](100) NULL,
	[NivelConfiabilidad] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProveedorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [ITAM].[Asignaciones] Fecha de script: 08/06/2026 18:28:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ITAM].[Asignaciones](
	[AsignacionID] [int] IDENTITY(1,1) NOT NULL,
	[ActivoID] [uniqueidentifier] NOT NULL,
	[ColaboradorID] [int] NOT NULL,
	[FechaAsignacion] [datetime] NULL,
	[FechaDevolucion] [datetime] NULL,
	[DocumentoFirmaRuta] [nvarchar](255) NULL,
	[Observaciones] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[AsignacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [ITAM].[AsignacionLicencias] Fecha de script: 08/06/2026 18:28:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ITAM].[AsignacionLicencias](
	[AsignacionLicID] [int] IDENTITY(1,1) NOT NULL,
	[LicenciaID] [int] NOT NULL,
	[ActivoID] [uniqueidentifier] NULL,
	[ColaboradorID] [int] NULL,
	[FechaAsignacion] [datetime] NULL,
	[Notas] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[AsignacionLicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [ITAM].[LicenciasSoftwares] Fecha de script: 08/06/2026 18:28:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ITAM].[LicenciasSoftwares](
	[LicenciaID] [int] IDENTITY(1,1) NOT NULL,
	[NombreSoftware] [nvarchar](100) NOT NULL,
	[TipoLicencia] [varchar](50) NULL,
	[LlaveProducto] [nvarchar](255) MASKED WITH (FUNCTION = 'default()') NULL,
	[Costo] [decimal](18, 2) NULL,
	[FechaCompra] [date] NULL,
	[FechaVencimiento] [date] NULL,
	[CantidadAsientosTotal] [int] NULL,
	[AsientosDisponibles] [int] NULL,
	[Estado] [varchar](20) NULL,
	[Facturadoa] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[LicenciaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [Seguridad].[GestorCredenciales] Fecha de script: 08/06/2026 18:28:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Seguridad].[GestorCredenciales](
	[CredencialID] [int] IDENTITY(1,1) NOT NULL,
	[NombreServicio] [nvarchar](150) NOT NULL,
	[URL_Acceso] [nvarchar](255) NULL,
	[Usuario] [nvarchar](150) NOT NULL,
	[ContrasenaCifrada] [varbinary](max) NOT NULL,
	[Categoria] [varchar](50) NULL,
	[PropietarioColaboradorID] [int] NULL,
	[PropietarioDepartamentoID] [int] NULL,
	[FechaCreacion] [datetime] NULL,
	[UltimaActualizacion] [datetime] NULL,
	[FechaVencimientoClave] [date] NULL,
	[NotasSeguras] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CredencialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [Seguridad].[Perfiles] Fecha de script: 08/06/2026 18:28:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Seguridad].[Perfiles](
	[PerfilID] [int] IDENTITY(1,1) NOT NULL,
	[NombrePerfil] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PerfilID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [Seguridad].[PermisosObjetos] Fecha de script: 08/06/2026 18:28:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Seguridad].[PermisosObjetos](
	[PermisoID] [int] IDENTITY(1,1) NOT NULL,
	[PerfilID] [int] NOT NULL,
	[ObjetoBD] [nvarchar](100) NOT NULL,
	[PuedeLeer] [bit] NULL,
	[PuedeEscribir] [bit] NULL,
	[PuedeEliminar] [bit] NULL,
	[PuedeEjecutar] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PermisoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [SGSI].[IncidentesSeguridad] Fecha de script: 08/06/2026 18:28:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGSI].[IncidentesSeguridad](
	[IncidenteID] [int] IDENTITY(1,1) NOT NULL,
	[ActivoID] [uniqueidentifier] NULL,
	[ColaboradorID] [int] NULL,
	[FechaIncidente] [datetime] NOT NULL,
	[TipoIncidente] [varchar](100) NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[NivelGravedad] [varchar](20) NULL,
	[EstadoIncidente] [varchar](50) NULL,
	[AccionCorrectiva] [nvarchar](max) NULL,
	[FechaCierre] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IncidenteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [SGSI].[LogAuditoria] Fecha de script: 08/06/2026 18:28:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGSI].[LogAuditoria](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[TablaAfectada] [varchar](100) NULL,
	[RegistroID] [varchar](100) NULL,
	[Accion] [varchar](50) NULL,
	[UsuarioBD] [varchar](100) NULL,
	[FechaAccion] [datetime] NULL,
	[DetalleAnterior] [nvarchar](max) NULL,
	[DetalleNuevo] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [SGSI].[ValoracionActivos] Fecha de script: 08/06/2026 18:28:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SGSI].[ValoracionActivos](
	[ValoracionID] [int] IDENTITY(1,1) NOT NULL,
	[ActivoID] [uniqueidentifier] NOT NULL,
	[Confidencialidad] [int] NULL,
	[Integridad] [int] NULL,
	[Disponibilidad] [int] NULL,
	[ClasificacionInformacion] [varchar](50) NULL,
	[PropietarioActivoID] [int] NULL,
	[CustodioActivoID] [int] NULL,
	[UltimaRevision] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ValoracionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Core].[Colaboradores] ON 

INSERT [Core].[Colaboradores] ([ColaboradorID], [DocumentoIdentidad], [Nombres], [Apellidos], [CorreoCorporativo], [DepartamentoID], [UbicacionID], [FechaIngreso], [Estado], [PerfilID], [UsuarioApp], [PasswordHash], [Foto], [Cargo]) VALUES (1, N'1001653135', N'Jhonatan Alexander', N'Ferrer Grisales', N'jferrer@maxfinfinanciera.co', 1, 1, CAST(N'2022-05-28' AS Date), 1, 1, N'jferrerg', NULL, NULL, NULL)
INSERT [Core].[Colaboradores] ([ColaboradorID], [DocumentoIdentidad], [Nombres], [Apellidos], [CorreoCorporativo], [DepartamentoID], [UbicacionID], [FechaIngreso], [Estado], [PerfilID], [UsuarioApp], [PasswordHash], [Foto], [Cargo]) VALUES (6, N'8129570', N'Ricardo León', N'Restrepo Vélez', N'rrestrepo@maxfinfinanciera.co', 2, 1, CAST(N'2012-05-28' AS Date), 1, 1, N'rrestrepo', NULL, NULL, NULL)
INSERT [Core].[Colaboradores] ([ColaboradorID], [DocumentoIdentidad], [Nombres], [Apellidos], [CorreoCorporativo], [DepartamentoID], [UbicacionID], [FechaIngreso], [Estado], [PerfilID], [UsuarioApp], [PasswordHash], [Foto], [Cargo]) VALUES (7, N'1001653126', N'Jhonatan Alexander', N'Ferrer Grisales', N'it@maxfinfinanciera.co', 1, 1, CAST(N'2026-04-29' AS Date), 1, 1, N'JhonatanFG', 0x4173643132333039387A786340, NULL, N'Líder TI')
SET IDENTITY_INSERT [Core].[Colaboradores] OFF
GO
SET IDENTITY_INSERT [Core].[Departamentos] ON 

INSERT [Core].[Departamentos] ([DepartamentoID], [CodigoDpto], [Nombre]) VALUES (1, N'TI', N'Tecnología de la Información')
INSERT [Core].[Departamentos] ([DepartamentoID], [CodigoDpto], [Nombre]) VALUES (2, N'GR', N'Gerencia')
INSERT [Core].[Departamentos] ([DepartamentoID], [CodigoDpto], [Nombre]) VALUES (3, N'RH', N'Recursos Humanos')
SET IDENTITY_INSERT [Core].[Departamentos] OFF
GO
SET IDENTITY_INSERT [Core].[Proveedores] ON 

INSERT [Core].[Proveedores] ([ProveedorID], [NIT], [RazonSocial], [PrefijoProveedor], [Contacto], [NivelConfiabilidad]) VALUES (1, N'901264105-6', N'Maxfin Financiera S.A.S', N'MF', NULL, NULL)
INSERT [Core].[Proveedores] ([ProveedorID], [NIT], [RazonSocial], [PrefijoProveedor], [Contacto], [NivelConfiabilidad]) VALUES (4, N'900413902-6', N'Dismotos Honda', N'DH', NULL, NULL)
SET IDENTITY_INSERT [Core].[Proveedores] OFF
GO
SET IDENTITY_INSERT [Core].[Ubicaciones] ON 

INSERT [Core].[Ubicaciones] ([UbicacionID], [CodigoSede], [NombreNomenclatura], [Direccion], [Estado]) VALUES (1, N'OF', N'Oficina Nacional', N'Carrera 7 No. 53-17 Esquina', 1)
INSERT [Core].[Ubicaciones] ([UbicacionID], [CodigoSede], [NombreNomenclatura], [Direccion], [Estado]) VALUES (3, N'AC', N'Auteco Cuarta', NULL, 1)
INSERT [Core].[Ubicaciones] ([UbicacionID], [CodigoSede], [NombreNomenclatura], [Direccion], [Estado]) VALUES (4, N'BY', N'Puerto Boyacá', NULL, 1)
SET IDENTITY_INSERT [Core].[Ubicaciones] OFF
GO
INSERT [ITAM].[ActivosBase] ([ActivoID], [EtiquetaActivo], [CategoriaID], [UbicacionID], [Marca], [Modelo], [NumeroSerie], [ProveedorID], [FechaAdquisicion], [Costo], [EstadoOperativo], [FechaRegistro]) VALUES (N'e74d3649-b70d-41c0-94f9-0eee99717ab7', N'DH-PC-QH-0004', 4, 11, N'Lenovo', N'IdeaCentre AIO 3 27IAP7', N'MP2Z7RV4', 4, CAST(N'2026-01-09' AS Date), CAST(2459900.00 AS Decimal(18, 2)), N'Asignado', CAST(N'2026-03-02T15:41:32.593' AS DateTime))
INSERT [ITAM].[ActivosBase] ([ActivoID], [EtiquetaActivo], [CategoriaID], [UbicacionID], [Marca], [Modelo], [NumeroSerie], [ProveedorID], [FechaAdquisicion], [Costo], [EstadoOperativo], [FechaRegistro]) VALUES (N'ef533020-0844-4ca8-b48b-0fd98af3261a', N'DH-PC-QH-0005', 4, 11, N'Lenovo', N'IdeaCentre AIO 3-24ALC6', N'MP2Z8W8N', 4, CAST(N'2025-11-26' AS Date), CAST(2359900.00 AS Decimal(18, 2)), N'Asignado', CAST(N'2026-03-02T16:06:05.033' AS DateTime))
INSERT [ITAM].[ActivosBase] ([ActivoID], [EtiquetaActivo], [CategoriaID], [UbicacionID], [Marca], [Modelo], [NumeroSerie], [ProveedorID], [FechaAdquisicion], [Costo], [EstadoOperativo], [FechaRegistro]) VALUES (N'1a6f6a7b-4506-4b90-8437-11073da97004', N'DH-IM-SG-0010', 10, 8, N'KYOCERA', N'ECOSYS M4500IFX', N'SDE2344F55G', NULL, CAST(N'2026-06-06' AS Date), CAST(7930000.00 AS Decimal(18, 2)), N'Asignado', CAST(N'2026-06-06T01:12:46.983' AS DateTime))
GO
SET IDENTITY_INSERT [ITAM].[Asignaciones] ON 

INSERT [ITAM].[Asignaciones] ([AsignacionID], [ActivoID], [ColaboradorID], [FechaAsignacion], [FechaDevolucion], [DocumentoFirmaRuta], [Observaciones]) VALUES (1, N'0aff62f8-55cf-4dbf-9384-ee0e08ef7849', 6, CAST(N'2026-05-23T00:00:00.000' AS DateTime), NULL, NULL, N'sin comentarios')
INSERT [ITAM].[Asignaciones] ([AsignacionID], [ActivoID], [ColaboradorID], [FechaAsignacion], [FechaDevolucion], [DocumentoFirmaRuta], [Observaciones]) VALUES (2, N'1a6f6a7b-4506-4b90-8437-11073da97004', 6, CAST(N'2026-06-06T00:00:00.000' AS DateTime), NULL, NULL, N'Sin daños')
SET IDENTITY_INSERT [ITAM].[Asignaciones] OFF
GO
SET IDENTITY_INSERT [ITAM].[AsignacionLicencias] ON 

INSERT [ITAM].[AsignacionLicencias] ([AsignacionLicID], [LicenciaID], [ActivoID], [ColaboradorID], [FechaAsignacion], [Notas]) VALUES (1, 1, N'bda7fecc-cc0d-4e74-90cd-62541c5d1f5c', 1, CAST(N'2026-02-23T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [ITAM].[AsignacionLicencias] OFF
GO
SET IDENTITY_INSERT [ITAM].[CategoriasActivo] ON 

INSERT [ITAM].[CategoriasActivo] ([CategoriaID], [CodigoCategoria], [Nombre], [EsFisico]) VALUES (2, N'LT', N'Portatil', 1)
INSERT [ITAM].[CategoriasActivo] ([CategoriaID], [CodigoCategoria], [Nombre], [EsFisico]) VALUES (4, N'PC', N'Computador Escritorio', 1)
INSERT [ITAM].[CategoriasActivo] ([CategoriaID], [CodigoCategoria], [Nombre], [EsFisico]) VALUES (6, N'CL', N'Celular', 1)
SET IDENTITY_INSERT [ITAM].[CategoriasActivo] OFF
GO
SET IDENTITY_INSERT [ITAM].[EspecificacionesHardware] ON 

INSERT [ITAM].[EspecificacionesHardware] ([EspecificacionID], [ActivoID], [Procesador], [MemoriaRAM], [Almacenamiento1], [Almacenamiento2], [TarjetaGrafica], [SistemaOperativo], [DireccionMAC], [DireccionIP_Estatica], [ResolucionPantalla]) VALUES (1, N'0aff62f8-55cf-4dbf-9384-ee0e08ef7849', N'Ryzen 7000', N'16gb ddr6', N'500gb ssd', N'SN', N'intel', N'Windows 11 Pro', N'32:D3:21:1A:3E:56', N'192.168.0.1', N'2560x1600')
INSERT [ITAM].[EspecificacionesHardware] ([EspecificacionID], [ActivoID], [Procesador], [MemoriaRAM], [Almacenamiento1], [Almacenamiento2], [TarjetaGrafica], [SistemaOperativo], [DireccionMAC], [DireccionIP_Estatica], [ResolucionPantalla]) VALUES (2, N'24c61ea4-e0ca-4ef3-9d30-14bd62d5dfdf', N'', N'', N'', N'', N'', N'', N'', N'', N'')
INSERT [ITAM].[EspecificacionesHardware] ([EspecificacionID], [ActivoID], [Procesador], [MemoriaRAM], [Almacenamiento1], [Almacenamiento2], [TarjetaGrafica], [SistemaOperativo], [DireccionMAC], [DireccionIP_Estatica], [ResolucionPantalla]) VALUES (3, N'1a6f6a7b-4506-4b90-8437-11073da97004', N'', N'', N'', N'', N'', N'', N'M2:33:4R:6G:S3', N'192.168.1.1', N'')
SET IDENTITY_INSERT [ITAM].[EspecificacionesHardware] OFF
GO
SET IDENTITY_INSERT [ITAM].[LicenciasSoftwares] ON 

INSERT [ITAM].[LicenciasSoftwares] ([LicenciaID], [NombreSoftware], [TipoLicencia], [LlaveProducto], [Costo], [FechaCompra], [FechaVencimiento], [CantidadAsientosTotal], [AsientosDisponibles], [Estado], [Facturadoa]) VALUES (1, N'WINDOWS PROFESIONAL 11 ESD', N'Perpetua', N'6NMC3-HM8KT-4K9Q9-Q2WMV-VT9TT', CAST(940100.00 AS Decimal(18, 2)), CAST(N'2026-02-20' AS Date), NULL, 1, 1, N'Activa', N'Maxfin Financiera S.A.S')
INSERT [ITAM].[LicenciasSoftwares] ([LicenciaID], [NombreSoftware], [TipoLicencia], [LlaveProducto], [Costo], [FechaCompra], [FechaVencimiento], [CantidadAsientosTotal], [AsientosDisponibles], [Estado], [Facturadoa]) VALUES (2, N'WINDOWS PROFESIONAL 11 ESD', N'Perpetua', N'3YXNM-HKWWH-MJXGG-VJGV8-DGPKG', CAST(940100.00 AS Decimal(18, 2)), CAST(N'2026-02-20' AS Date), NULL, 1, 1, N'Activa', N'Maxfin Financiera .S.A.S')
INSERT [ITAM].[LicenciasSoftwares] ([LicenciaID], [NombreSoftware], [TipoLicencia], [LlaveProducto], [Costo], [FechaCompra], [FechaVencimiento], [CantidadAsientosTotal], [AsientosDisponibles], [Estado], [Facturadoa]) VALUES (3, N'WINDOWS PROFESIONAL 11 ESD', N'Perpetua', N'KY87K-P6NMT-DXY9V-XFKCC-YKMP6', CAST(940100.00 AS Decimal(18, 2)), CAST(N'2026-02-20' AS Date), NULL, 1, 1, N'Disponible', N'Maxfin Financiera S.A.S')
SET IDENTITY_INSERT [ITAM].[LicenciasSoftwares] OFF
GO
SET IDENTITY_INSERT [Seguridad].[GestorCredenciales] ON 

INSERT [Seguridad].[GestorCredenciales] ([CredencialID], [NombreServicio], [URL_Acceso], [Usuario], [ContrasenaCifrada], [Categoria], [PropietarioColaboradorID], [PropietarioDepartamentoID], [FechaCreacion], [UltimaActualizacion], [FechaVencimientoClave], [NotasSeguras]) VALUES (2, N'Kaspersky HUB', N'https://account.kaspersky.com/SignIn', N'it@maxfinfinanciera.co', 0x6930714935696F52554942465A6C33635643594B4F773D3D, N'Otro', 16, NULL, CAST(N'2026-06-07T23:43:50.197' AS DateTime), CAST(N'2026-06-07T23:43:50.197' AS DateTime), CAST(N'2026-06-07' AS Date), N'Admin')
INSERT [Seguridad].[GestorCredenciales] ([CredencialID], [NombreServicio], [URL_Acceso], [Usuario], [ContrasenaCifrada], [Categoria], [PropietarioColaboradorID], [PropietarioDepartamentoID], [FechaCreacion], [UltimaActualizacion], [FechaVencimientoClave], [NotasSeguras]) VALUES (3, N'Correo Wiber', N'https://correo.wiber.co/webmail/', N'jferrerg@maxfinfinanciera.co', 0x59752F44643938544B5A4B70624776505946473159773D3D, N'Correo Electrónico', 16, NULL, CAST(N'2026-06-07T23:56:57.943' AS DateTime), CAST(N'2026-06-07T23:56:57.943' AS DateTime), CAST(N'2026-06-07' AS Date), NULL)
INSERT [Seguridad].[GestorCredenciales] ([CredencialID], [NombreServicio], [URL_Acceso], [Usuario], [ContrasenaCifrada], [Categoria], [PropietarioColaboradorID], [PropietarioDepartamentoID], [FechaCreacion], [UltimaActualizacion], [FechaVencimientoClave], [NotasSeguras]) VALUES (4, N'Correo Wiber', N'https://correo.wiber.co/webmail/', N'it@maxfinfinanciera.co', 0x59752F44643938544B5A4B70624776505946473159773D3D, N'Correo Electrónico', 16, NULL, CAST(N'2026-06-07T23:58:05.020' AS DateTime), CAST(N'2026-06-08T00:02:18.843' AS DateTime), CAST(N'2026-08-01' AS Date), NULL)
SET IDENTITY_INSERT [Seguridad].[GestorCredenciales] OFF
GO
SET IDENTITY_INSERT [Seguridad].[Perfiles] ON 

INSERT [Seguridad].[Perfiles] ([PerfilID], [NombrePerfil], [Descripcion]) VALUES (1, N'Administrador', NULL)
INSERT [Seguridad].[Perfiles] ([PerfilID], [NombrePerfil], [Descripcion]) VALUES (2, N'Operador', NULL)
INSERT [Seguridad].[Perfiles] ([PerfilID], [NombrePerfil], [Descripcion]) VALUES (3, N'Empleado', NULL)
SET IDENTITY_INSERT [Seguridad].[Perfiles] OFF
GO
SET IDENTITY_INSERT [SGSI].[LogAuditoria] ON 

SET IDENTITY_INSERT [SGSI].[LogAuditoria] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Colabora__049E81A99C66E1CC] Fecha de script: 08/06/2026 18:28:33 ******/
ALTER TABLE [Core].[Colaboradores] ADD UNIQUE NONCLUSTERED 
(
	[DocumentoIdentidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Colabora__7F16C3E73D1E09A8] Fecha de script: 08/06/2026 18:28:33 ******/
ALTER TABLE [Core].[Colaboradores] ADD UNIQUE NONCLUSTERED 
(
	[UsuarioApp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Colabora__D77ABA8BB7FB3E69] Fecha de script: 08/06/2026 18:28:33 ******/
ALTER TABLE [Core].[Colaboradores] ADD UNIQUE NONCLUSTERED 
(
	[CorreoCorporativo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Departam__ABABF49C3233A17E] Fecha de script: 08/06/2026 18:28:33 ******/
ALTER TABLE [Core].[Departamentos] ADD UNIQUE NONCLUSTERED 
(
	[CodigoDpto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Proveedo__C7DEC3C2A6D42634] Fecha de script: 08/06/2026 18:28:33 ******/
ALTER TABLE [Core].[Proveedores] ADD UNIQUE NONCLUSTERED 
(
	[NIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Ubicacio__45B6E9B4E74D8181] Fecha de script: 08/06/2026 18:28:33 ******/
ALTER TABLE [Core].[Ubicaciones] ADD UNIQUE NONCLUSTERED 
(
	[CodigoSede] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__ActivosB__C545517786DC73B9] Fecha de script: 08/06/2026 18:28:33 ******/
ALTER TABLE [ITAM].[ActivosBase] ADD UNIQUE NONCLUSTERED 
(
	[NumeroSerie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__ActivosB__F803C52B3C64F0FB] Fecha de script: 08/06/2026 18:28:33 ******/
ALTER TABLE [ITAM].[ActivosBase] ADD UNIQUE NONCLUSTERED 
(
	[EtiquetaActivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Categori__3CEE2F4D93A20672] Fecha de script: 08/06/2026 18:28:33 ******/
ALTER TABLE [ITAM].[CategoriasActivo] ADD UNIQUE NONCLUSTERED 
(
	[CodigoCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ__Especifi__69D2246C3155759B] Fecha de script: 08/06/2026 18:28:33 ******/
ALTER TABLE [ITAM].[EspecificacionesHardware] ADD UNIQUE NONCLUSTERED 
(
	[ActivoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Perfiles__9383318C2AEB62F1] Fecha de script: 08/06/2026 18:28:33 ******/
ALTER TABLE [Seguridad].[Perfiles] ADD UNIQUE NONCLUSTERED 
(
	[NombrePerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ__Valoraci__69D2246C302339CF] Fecha de script: 08/06/2026 18:28:33 ******/
ALTER TABLE [SGSI].[ValoracionActivos] ADD UNIQUE NONCLUSTERED 
(
	[ActivoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Core].[Colaboradores] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [Core].[Ubicaciones] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [ITAM].[ActivosBase] ADD  DEFAULT (newid()) FOR [ActivoID]
GO
ALTER TABLE [ITAM].[ActivosBase] ADD  DEFAULT ('En Bodega') FOR [EstadoOperativo]
GO
ALTER TABLE [ITAM].[ActivosBase] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [ITAM].[Asignaciones] ADD  DEFAULT (getdate()) FOR [FechaAsignacion]
GO
ALTER TABLE [ITAM].[AsignacionLicencias] ADD  DEFAULT (getdate()) FOR [FechaAsignacion]
GO
ALTER TABLE [ITAM].[LicenciasSoftwares] ADD  DEFAULT ((1)) FOR [CantidadAsientosTotal]
GO
ALTER TABLE [ITAM].[LicenciasSoftwares] ADD  DEFAULT ((1)) FOR [AsientosDisponibles]
GO
ALTER TABLE [ITAM].[LicenciasSoftwares] ADD  DEFAULT ('Activa') FOR [Estado]
GO
ALTER TABLE [Seguridad].[GestorCredenciales] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [Seguridad].[GestorCredenciales] ADD  DEFAULT (getdate()) FOR [UltimaActualizacion]
GO
ALTER TABLE [Seguridad].[PermisosObjetos] ADD  DEFAULT ((0)) FOR [PuedeLeer]
GO
ALTER TABLE [Seguridad].[PermisosObjetos] ADD  DEFAULT ((0)) FOR [PuedeEscribir]
GO
ALTER TABLE [Seguridad].[PermisosObjetos] ADD  DEFAULT ((0)) FOR [PuedeEliminar]
GO
ALTER TABLE [Seguridad].[PermisosObjetos] ADD  DEFAULT ((0)) FOR [PuedeEjecutar]
GO
ALTER TABLE [SGSI].[IncidentesSeguridad] ADD  DEFAULT ('Abierto') FOR [EstadoIncidente]
GO
ALTER TABLE [SGSI].[LogAuditoria] ADD  DEFAULT (getdate()) FOR [FechaAccion]
GO
ALTER TABLE [SGSI].[ValoracionActivos] ADD  DEFAULT (getdate()) FOR [UltimaRevision]
GO
ALTER TABLE [Core].[Colaboradores]  WITH CHECK ADD  CONSTRAINT [FK_Colaboradores_Departamento] FOREIGN KEY([DepartamentoID])
REFERENCES [Core].[Departamentos] ([DepartamentoID])
GO
ALTER TABLE [Core].[Colaboradores] CHECK CONSTRAINT [FK_Colaboradores_Departamento]
GO
ALTER TABLE [Core].[Colaboradores]  WITH CHECK ADD  CONSTRAINT [FK_Colaboradores_Perfiles] FOREIGN KEY([PerfilID])
REFERENCES [Seguridad].[Perfiles] ([PerfilID])
GO
ALTER TABLE [Core].[Colaboradores] CHECK CONSTRAINT [FK_Colaboradores_Perfiles]
GO
ALTER TABLE [Core].[Colaboradores]  WITH CHECK ADD  CONSTRAINT [FK_Colaboradores_Ubicacion] FOREIGN KEY([UbicacionID])
REFERENCES [Core].[Ubicaciones] ([UbicacionID])
GO
ALTER TABLE [Core].[Colaboradores] CHECK CONSTRAINT [FK_Colaboradores_Ubicacion]
GO
ALTER TABLE [ITAM].[ActivosBase]  WITH CHECK ADD FOREIGN KEY([CategoriaID])
REFERENCES [ITAM].[CategoriasActivo] ([CategoriaID])
GO
ALTER TABLE [ITAM].[ActivosBase]  WITH CHECK ADD FOREIGN KEY([ProveedorID])
REFERENCES [Core].[Proveedores] ([ProveedorID])
GO
ALTER TABLE [ITAM].[ActivosBase]  WITH CHECK ADD FOREIGN KEY([UbicacionID])
REFERENCES [Core].[Ubicaciones] ([UbicacionID])
GO
ALTER TABLE [ITAM].[Asignaciones]  WITH CHECK ADD FOREIGN KEY([ActivoID])
REFERENCES [ITAM].[ActivosBase] ([ActivoID])
GO
ALTER TABLE [ITAM].[Asignaciones]  WITH CHECK ADD FOREIGN KEY([ColaboradorID])
REFERENCES [Core].[Colaboradores] ([ColaboradorID])
GO
ALTER TABLE [ITAM].[AsignacionLicencias]  WITH CHECK ADD FOREIGN KEY([ActivoID])
REFERENCES [ITAM].[ActivosBase] ([ActivoID])
GO
ALTER TABLE [ITAM].[AsignacionLicencias]  WITH CHECK ADD FOREIGN KEY([ColaboradorID])
REFERENCES [Core].[Colaboradores] ([ColaboradorID])
GO
ALTER TABLE [ITAM].[AsignacionLicencias]  WITH CHECK ADD FOREIGN KEY([LicenciaID])
REFERENCES [ITAM].[LicenciasSoftwares] ([LicenciaID])
GO
ALTER TABLE [ITAM].[EspecificacionesHardware]  WITH CHECK ADD FOREIGN KEY([ActivoID])
REFERENCES [ITAM].[ActivosBase] ([ActivoID])
ON DELETE CASCADE
GO
ALTER TABLE [Seguridad].[GestorCredenciales]  WITH CHECK ADD FOREIGN KEY([PropietarioColaboradorID])
REFERENCES [Core].[Colaboradores] ([ColaboradorID])
GO
ALTER TABLE [Seguridad].[GestorCredenciales]  WITH CHECK ADD FOREIGN KEY([PropietarioDepartamentoID])
REFERENCES [Core].[Departamentos] ([DepartamentoID])
GO
ALTER TABLE [Seguridad].[PermisosObjetos]  WITH CHECK ADD FOREIGN KEY([PerfilID])
REFERENCES [Seguridad].[Perfiles] ([PerfilID])
GO
ALTER TABLE [SGSI].[IncidentesSeguridad]  WITH CHECK ADD FOREIGN KEY([ActivoID])
REFERENCES [ITAM].[ActivosBase] ([ActivoID])
GO
ALTER TABLE [SGSI].[IncidentesSeguridad]  WITH CHECK ADD FOREIGN KEY([ColaboradorID])
REFERENCES [Core].[Colaboradores] ([ColaboradorID])
GO
ALTER TABLE [SGSI].[ValoracionActivos]  WITH CHECK ADD FOREIGN KEY([ActivoID])
REFERENCES [ITAM].[ActivosBase] ([ActivoID])
GO
ALTER TABLE [SGSI].[ValoracionActivos]  WITH CHECK ADD FOREIGN KEY([CustodioActivoID])
REFERENCES [Core].[Colaboradores] ([ColaboradorID])
GO
ALTER TABLE [SGSI].[ValoracionActivos]  WITH CHECK ADD FOREIGN KEY([PropietarioActivoID])
REFERENCES [Core].[Colaboradores] ([ColaboradorID])
GO
ALTER TABLE [ITAM].[AsignacionLicencias]  WITH CHECK ADD  CONSTRAINT [CHK_AsignacionValida] CHECK  (([ActivoID] IS NOT NULL OR [ColaboradorID] IS NOT NULL))
GO
ALTER TABLE [ITAM].[AsignacionLicencias] CHECK CONSTRAINT [CHK_AsignacionValida]
GO
ALTER TABLE [SGSI].[IncidentesSeguridad]  WITH CHECK ADD CHECK  (([NivelGravedad]='Critico' OR [NivelGravedad]='Alto' OR [NivelGravedad]='Medio' OR [NivelGravedad]='Bajo'))
GO
ALTER TABLE [SGSI].[ValoracionActivos]  WITH CHECK ADD CHECK  (([Confidencialidad]>=(1) AND [Confidencialidad]<=(5)))
GO
ALTER TABLE [SGSI].[ValoracionActivos]  WITH CHECK ADD CHECK  (([Disponibilidad]>=(1) AND [Disponibilidad]<=(5)))
GO
ALTER TABLE [SGSI].[ValoracionActivos]  WITH CHECK ADD CHECK  (([Integridad]>=(1) AND [Integridad]<=(5)))
GO
/****** Objeto: StoredProcedure [ITAM].[sp_AsignarEquipo] Fecha de script: 08/06/2026 18:28:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =========================================================================
-- 3. PROCEDIMIENTO: Asignar Equipo
-- =========================================================================
CREATE   PROCEDURE [ITAM].[sp_AsignarEquipo]
    @EtiquetaActivo VARCHAR(50),
    @ColaboradorID INT,
    @Observaciones NVARCHAR(MAX) = NULL,
    @DocumentoFirmaRuta NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ActivoID UNIQUEIDENTIFIER;
    DECLARE @EstadoActual VARCHAR(50);

    -- Buscar el Activo por su Etiqueta
    SELECT 
        @ActivoID = ActivoID, 
        @EstadoActual = EstadoOperativo 
    FROM ITAM.ActivosBase 
    WHERE EtiquetaActivo = @EtiquetaActivo;

    -- Validaciones de Seguridad y Lógica de Negocio
    IF @ActivoID IS NULL
    BEGIN
        RAISERROR('Error: No se encontró ningún activo con la etiqueta %s.', 16, 1, @EtiquetaActivo);
        RETURN;
    END

    IF @EstadoActual = 'Asignado'
    BEGIN
        RAISERROR('Error: El activo %s ya está asignado actualmente. Debe registrar la devolución primero.', 16, 1, @EtiquetaActivo);
        RETURN;
    END
    
    IF @EstadoActual = 'Dado de Baja'
    BEGIN
        RAISERROR('Error: El activo %s está dado de baja y no puede ser asignado.', 16, 1, @EtiquetaActivo);
        RETURN;
    END

    -- Transacción
    BEGIN TRY
        BEGIN TRANSACTION;

        -- A. Registrar la entrega en el historial de Asignaciones
        INSERT INTO ITAM.Asignaciones (ActivoID, ColaboradorID, FechaAsignacion, DocumentoFirmaRuta, Observaciones)
        VALUES (@ActivoID, @ColaboradorID, GETDATE(), @DocumentoFirmaRuta, @Observaciones);

        -- B. Actualizar el estado del equipo
        UPDATE ITAM.ActivosBase
        SET EstadoOperativo = 'Asignado'
        WHERE ActivoID = @ActivoID;

        COMMIT TRANSACTION;
        PRINT '✅ El equipo ' + @EtiquetaActivo + ' fue asignado exitosamente.';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('Ocurrió un error al procesar la asignación: %s', 16, 1, @ErrorMessage);
    END CATCH
END;
GO
/****** Objeto: StoredProcedure [ITAM].[sp_DevolverEquipo] Fecha de script: 08/06/2026 18:28:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =========================================================================
-- 4. PROCEDIMIENTO: Devolver Equipo
-- =========================================================================
CREATE   PROCEDURE [ITAM].[sp_DevolverEquipo]
    @EtiquetaActivo VARCHAR(50),
    @EstadoFinal VARCHAR(50) = 'En Bodega', -- Puede ser 'En Bodega' o 'Mantenimiento'
    @ObservacionesDevolucion NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ActivoID UNIQUEIDENTIFIER;
    DECLARE @AsignacionID INT;

    SELECT @ActivoID = ActivoID FROM ITAM.ActivosBase WHERE EtiquetaActivo = @EtiquetaActivo;

    IF @ActivoID IS NULL
    BEGIN
        RAISERROR('Error: No se encontró el activo con etiqueta %s.', 16, 1, @EtiquetaActivo);
        RETURN;
    END

    -- Buscar la asignación activa
    SELECT TOP 1 @AsignacionID = AsignacionID
    FROM ITAM.Asignaciones
    WHERE ActivoID = @ActivoID AND FechaDevolucion IS NULL
    ORDER BY FechaAsignacion DESC;

    IF @AsignacionID IS NULL
    BEGIN
        RAISERROR('Aviso: El activo %s no tiene una asignación activa registrada.', 16, 1, @EtiquetaActivo);
        RETURN;
    END

    BEGIN TRY
        BEGIN TRANSACTION;

        -- A. Cerrar la asignación actual
        UPDATE ITAM.Asignaciones
        SET 
            FechaDevolucion = GETDATE(),
            Observaciones = ISNULL(Observaciones, '') + ' | DEVOLUCIÓN: ' + ISNULL(@ObservacionesDevolucion, 'Sin observaciones adicionales.')
        WHERE AsignacionID = @AsignacionID;

        -- B. Cambiar el estado del activo
        UPDATE ITAM.ActivosBase
        SET EstadoOperativo = @EstadoFinal
        WHERE ActivoID = @ActivoID;

        COMMIT TRANSACTION;
        PRINT '✅ Devolución procesada. El activo ' + @EtiquetaActivo + ' ahora está ' + @EstadoFinal + '.';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
USE [master]
GO
